[user]
	email = accounts@pascalbrokmeier.de
	name = pascalwhoop
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/Documents/Code/.gitignore
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
